body{
    background-color: #C2E7FB;
}

#sidenav{
    width: 100px;
    height: 1000px;
    background-color: #FFFFFF;
    display: inline-block;
}

#bell{
    margin: 20px;

}

#sidenav > a{
    padding: 20px;
    display: block;
    margin-bottom: 5px;
    background-color: #DEDEDE;
    -webkit-transform: rotate(-5deg);
}

#search_box{
    padding-top: 5px;
    display:inline-block;
    width: 200px;
    height: 30px;
}

#searchbar{
    padding-left: 10px;
    border-radius: 30px;
    width:100%;
    height: 100%;
    background-color: #C2E7FB;
}

main{
    display: inline-block;
    width: 600px;
    height: 900px;
    margin-left: calc(50% - 150px - 600px / 2);
    margin-top: 25px;
    display: inline-block;
}

#top{
    width: 100%;
    height: 356px;
}

#top_left, #top_right, #top_left_block, #top_right_block{
    position: absolute;
}

#top_left{
    height: 200px;
    width: 200px;
    z-index: 1;
    background-color: green;
}
#top_left > img{
    width: 100%;
}

#top_right{
    height: 100%;
    width: 50%;
    z-index: 3;
    font-size: 200px;
    margin-left: 100px;
    margin-top: 50px;
    color: #FFFFFF;
}

#top_left_block, #top_right_block{
    width: 20px;
    height: 70px;
    z-index: 2;
    background-color: #F2F2F2;
}

#top_right_block, #top_left_block{
    margin-top: 200px;
}

#top_left_block{
    margin-left: 160px;
}

#top_right_block{
    margin-left: 420px;
}

#bottom{
    text-align: center;
}

#bottom > p{
    margin-top: 30px;
    margin-bottom: 30px;
}

button{
    font-weight: bold;
    width:50%;
    height: 50px;
    border:none;
    font-weight: bold;
    background-color: #D54463;
    color: #FFFFFF;
}